<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1434870863412019</string>
			</array>
		</dict>
	</array>
	<key>FacebookDisplayName</key>
	<string>Vybe</string>
	<key>FacebookAppID</key>
	<string>1434870863412019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Vybe</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.vybe.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vybe</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Montreal-Bold.otf</string>
		<string>Montreal-BoldIta.otf</string>
		<string>Montreal-DemiBold.otf</string>
		<string>Montreal-DemiBoldIta.otf</string>
		<string>Montreal-Heavy.otf</string>
		<string>Montreal-HeavyIta.otf</string>
		<string>Montreal-Light.otf</string>
		<string>Montreal-LightIta.otf</string>
		<string>Montreal-Medium.otf</string>
		<string>Montreal-MediumIta.otf</string>
		<string>Montreal-Regular.otf</string>
		<string>Montreal-RegularIta.otf</string>
		<string>Montreal-Xlight.otf</string>
		<string>Montreal-XlightIta.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
